.header {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border: 1px solid red;
  margin: 0 auto;
  border-radius: 8px;
  background-image: linear-gradient(
    to bottom right,
    #ff074d,
    rgb(255, 83, 114)
  );
  margin-bottom: 15px;
}
.heading {
  display: flex;
  align-items: center;
}
.logo {
  color: #fff0f6;
  font-size: 38px;
}
.app-name {
  color: #fff0f6;
}
.camera {
  font-size: 30px;
  fill: #fff0f6;
}
